<div class="nested-fields">
  <%= f.hidden_field :id %>
  <div><%= f.label "連想ワード", {class: 'reminiscent-word'} %></div>
  <%= f.text_field :keyword %>
  <button><%= link_to_remove_association "削除", f %></button>
</div>