<head>
  <%= stylesheet_link_tag 'questions/edit', :media => "all" %>
</head>

<div class="main-content">
  <h1>質問編集</h1>
  <%= render 'form', question: @question %>
  <div class="show_click">
    <button><%= link_to '戻る', @question %></button>
  </div>
</div>