* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #ffffff;
}

.main_content {
  margin: 100px auto 100px;
  width: 80%;
  color: #333;
}

h1 {
  margin-bottom: 50px;
}

.status_select_item input{
  border: none;
  background: transparent;
  cursor: pointer;
}

.input-group form{
  display: flex;
}

a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
  display: block;
}

.status_select select {
  height: 30px; /* ボタンの高さと同じ */
  font-size: 14px; /* ボタンのフォントサイズと同じ */
  font-family: inherit; /* ボタンのフォントファミリーを継承 */
  /* 幅はコンテンツに合わせて自動調整するため width: auto; を設定する */
  width: auto; /* 必要に応じて具体的な幅に設定する */
  border: 1px solid #dcdcdc; /* ボタンのボーダーと同じ */
  border-radius: 3px; /* ボタンのボーダーの丸みと同じ */
  background-color: #ffffff; /* プルダウンの背景色は白に */
  padding: 0 10px; /* テキストと境界の間の余白 */
  margin-right: 10px; /* 右のボタンとの余白 */
  -webkit-appearance: none; /* デフォルトのプルダウンスタイルを削除 */
  -moz-appearance: none;
  appearance: none;
}

/* プルダウンメニューの選択肢のスタイル */
.status_select option {
  padding: 5px 0;
}

/* プルダウンメニューがフォーカスされたときのスタイル */
.status_select:focus {
  outline: none;
  border-color: #a9a9a9;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.question_row {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  min-height: 100px;
  width: 100%;
}

.status_area {
  position: relative;
  height: 100%;
  min-width: 100px;
  width: 12%;
  margin-right: 20px;
  flex-basis: fit-content;
}

.status_label {
  position: absolute;
  color: #ffffff;
  padding: 3px 10px;
  top: 15px;
  border-radius: 3px;
}

.open{
  background-color: #FFC947;
}

.close{
  background-color: #6D8299;
}

.middle_area {
  width: 46%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.question_content {
  min-height: 50px;
  border: solid 1px #4a4a4a;
  margin-bottom: 10px;
}

.question_content p {
  padding: 2px 2px;
  margin-block-end: 0;
  overflow: hidden;
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-top: -1px;
}

.reminiscent_words_area {
  min-height: 30px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.reminiscent_word_title {
  font-size: 14px;
  margin-top: -6px;
  margin-bottom: 1px;
}

.reminiscent_word_label {
  background-color: #3C5186;
  color: #ffffff;
  height: 25px;
  min-width: 100px;
  text-align: center;
  margin: 0 0 10px;
  padding-top: 3px;
  font-size: 13px;
  border-radius: 3px;
}

.reminiscent_word_label+.reminiscent_word_label {
  margin-left: 20px;
}

.detail_link_area {
  width: 80px;
  height: 100%;
  justify-content: end;
  display: flex;
  margin: 12px 0 0 20px;
}

.detail_link_area a {
  color: #333;
  text-decoration: none;
  font-weight: 600;
  display: block;
}

.detail_link_area button{
  width: 70px;
}
.question_info_area {
  width: 22%;
  height: 100%;
  font-size: 0.8em;
  margin-left: 10px;
}

/* ボタンの基本スタイルを設定 */
.button{
  height: 30px; /* プルダウンの高さに合わせます */
  background-color: #dcdcdc; /* 指定された色を使用 */
  border: none;
  border-radius: 3px;
  color: #333; /* ボタン内の文字色 */
  margin: 0 5px; /* ボタン同士の余白 */
  cursor: pointer;
  outline: none;
  box-shadow: 0 2px 3px rgba(0,0,0,0.1); /* 影を追加 */
  font-family: inherit; /* フォント継承 */
  font-size: 14px; /* フォントサイズ統一 */
}
.input-group button {
  height: 30px; /* プルダウンの高さに合わせます */
  background-color: #dcdcdc; /* 指定された色を使用 */
  border: none;
  border-radius: 3px;
  color: #e0ffff; /* ボタン内の文字色 */
  padding: 0 15px; /* テキストの余白 */
  margin: 0 10px; /* ボタン同士の余白 */
  cursor: pointer;
  outline: none;
  box-shadow: 0 2px 3px rgba(0,0,0,0.1); /* 影を追加 */
  font-family: inherit; /* フォント継承 */
  font-size: 14px; /* フォントサイズ統一 */
}

/* ボタンにホバーエフェクトを追加 */
.button:hover, .input-group button:hover, .status_select_item button:hover {
  background-color: #a9a9a9; /* ホバー時は明るい色 */
  box-shadow: 0 4px 5px rgba(0,0,0,0.2); /* 影を強調 */
}
