* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #ffffff;
}

.main_content {
  margin: 100px auto 100px;
  width: 80%;
  color: #333;
}

h1 {
  margin-bottom: 50px;
}

.status_select_item input{
  appearance: none;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.input-group form{
  display: flex;
}

.input-group button{
  height: 26px;
  width: 75px;
  background-color: #EFEFEF;
  border-color: #EFEFEF;
  border-radius: 3px;
}

a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
  display: block;
}

.status_select {
  width: 100px;
  height: 30px;
}

.question_row {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  min-height: 100px;
  width: 100%;
}

.status_area {
  position: relative;
  height: 100%;
  min-width: 100px;
  width: 12%;
}

.status_label {
  position: absolute;
  color: #ffffff;
  padding: 3px 10px;
  top: 15px;
  border-radius: 3px;
}

.open{
  background-color: #FFC947;
}

.close{
  background-color: #6D8299;
}

.middle_area {
  width: 46%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.question_content {
  min-height: 50px;
  border: solid 1px #4a4a4a;
  margin-bottom: 10px;
}

.question_content p {
  padding: 2px 2px;
  margin-block-end: 0;
  overflow: hidden;
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-top: -1px;
}

.reminiscent_words_area {
  min-height: 30px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.reminiscent_word_title {
  font-size: 14px;
  margin-top: -6px;
  margin-bottom: 1px;
}

.reminiscent_word_label {
  background-color: #3C5186;
  color: #ffffff;
  height: 25px;
  min-width: 100px;
  text-align: center;
  margin: 0 0 10px;
  padding-top: 3px;
  font-size: 13px;
  border-radius: 3px;
}

.reminiscent_word_label+.reminiscent_word_label {
  margin-left: 20px;
}

.detail_link_area {
  width: 20%;
  height: 100%;
  justify-content: end;
  display: flex;
  margin-right: 28px;
  margin-top: 12px;
}

.detail_link_area a {
  color: #333;
  text-decoration: none;
  font-weight: 600;
  display: block;
}

.detail_link_area button{
  background-color: #e0e0e0;
  border: none;
  width: 70px;
  border-radius: 3px;
}
.question_info_area {
  width: 22%;
  height: 100%;
  font-size: 0.8em;
}