.main-content{
  margin: 100px auto 100px;
   width: 80%;
}

input[type="text"] {
   height: 30px;
   margin-bottom: 20px;
   width: 400px;
}

input[type="submit"]{
  height: 30px;
  width: 150px;
  background-color: #4a4a4a;
  color: #ffffff;
  cursor: pointer;
}

div.question-content{
  margin-bottom: 50px;
}

.question-content label{
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 5px;
}

.reminiscent-word{
  font-size: 1.2em;
}

.nested-fields button{
  height: 30px;
  background-color: #dcdcdc;
  border: none;
  border-radius: 3px;
  color: #333;
  margin-left: 15px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 2px 3px rgba(0,0,0,0.1);
  font-family: inherit;
  font-size: 13px;
  width: 60px;
}

/* .links .nested-fields button {
  height: 26px;
  width: 57px;
  background-color: #EFEFEF;
  border-color: #EFEFEF;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 13px;
} */

.links button{
  height: 30px;
  background-color: #dcdcdc;
  border: none;
  border-radius: 3px;
  color: #333;
  cursor: pointer;
  outline: none;
  box-shadow: 0 2px 3px rgba(0,0,0,0.1);
  font-family: inherit;
  font-size: 13px;
  width: 140px;
}

.nested-fields button:hover, .links button:hover {
  background-color: #a9a9a9; /* ホバー時は明るい色 */
  box-shadow: 0 4px 5px rgba(0,0,0,0.2); /* 影を強調 */
}

a{
  text-decoration: none;
  color: black;
}

.actions{
  text-align:center;
  max-width:700px;
}

h1{
  margin-bottom: 70px;
  font-size: 30px;
}

.keyword{
  font-size: 1.3em;
  margin-bottom: 5px;
}

.question-content textarea{
  background-color: #E8F0F2;
}