* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.main_content {
  margin: 150px 0 0 125px;
  width: 90%;
  color: #333;
  display: flex;
}

.discription_area {
  padding: 17px 29px 47px;
  background-color: #E8E1D9;
  width: 65%;
  border-radius: 2px;
}

.right_area {
 width: 35%;
 position: relative;
}

.button_area {
 flex-direction: column;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translateY(-50%) translateX(-50%);
}

.button_area button{
  width: 150px;
  height: 30px;
  margin: 20px 0;
  background-color: #3C5186;
  border: none;
}

.button_area a{
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 3px;
}